.App {
  height: 100%;
}
.loginTitle {
  color: white;
}
.homeContainer {
  display: flex;
  flex-wrap: wrap;
  
}

.typeAnimation {
  font-family: "Gill Sans", sans-serif;
  font-weight: bolder;
}
.navigationBar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  border: 1px solid black;
}
.logButton {
  margin-left: 90vw;
  
}
.sidebarContainer {
  display: flex;
  
  height: 90vh;
  width: 35vh;
  overflow: scroll initial;
  flex-direction: row;
  border: 1px solid black;
  justify-content: center;
  text-align: center;
}
.sidebar {
  display: flex;
}
.sidebarHeader {
  margin: 20px;
  font-size: x-large;
  font-weight: bolder;
}


#loginBackground {
  height: 100vh;
  background: #3aafa9;
}

.loginContainer {
  position: relative;
  background-size: cover;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  border-radius: 12px;
  padding: 20px;
  background: #2b7a78;
  top: 100px;
}
#loginHeader {
  font-family: "Lucida Console", "Courier New", monospace ;
  font-size: 100px;
  font-weight: 700;
}
.loginInput {
  margin: 5px;
}
.loginTitle {
  font-size: 20px
}

.entryBorder {
  display: flex;
  position: relative;

  overflow-y: scroll;
  flex-direction: column;
  
  border: 1px solid black;
  height: 85vh;
  width: 150vh;
  
}

.channelEntryList {
  display: flex;
  list-style: none;
  width: 150vh;
  font-family: "Lucida Console", "Courier New", monospace ;
  font-size: 23px;
  height: 100%;
  flex-wrap: wrap;
}
.channelEntryText :hover {
    background-color: gray;
  
}
.entryBorderWrapper {
  display: flex;
  height: 90vh;
}
.channelEntryText {
  display: flex;
  width: 150vh;
  border: 1px solid black;
  
}
.channelEntryUser {
  font-weight: 700;
}

.channelEditButton {
  color: white;
  position: relative;
  left: 160px;
  bottom: 28px;
}
.channelEditButton :hover {
  color: darkgray;
}
.channelDeleteButton {
  position: relative;
  left: 187px;
  bottom: 52px;
  margin-bottom: -10px;
}
.channelDeleteButton :hover {
  color: darkgray;
}
.linkButton {
  width: 200px;
  height: 50px;
}
.inputWrapper {
  display: flex;
  
  width: 100%;
}
.channelEntryInput {
  position: fixed;
  bottom: 0;
  position: -webkit-sticky;
  width: 150vh;
  height: 5%;
  border: 1px solid black;
  padding-top: 5px;
}

.friendBarWrapper {
  
}